{% extends "layout.html" %}

{% block title %}
    Welcome
{% endblock %}

{% block main %}

<style>
body {
    overflow-y: hidden;
}
</style>

    <div class = "container"  id = "logging_page" style = "margin-top: 0px; width: 100%">


        <div  id = "inside_logging_page" style="width: 100%;">
            <p class="heading_title">Sign In</p>

            <form method = "post" id = "sign_in_form">
                <div>
                    <input placeholder = " " class = "Email_input" name = "email" type="email" autocomplete ="off">
                    <div class = "labelline">Enter email</div>
                </div>
                <div style = "position: relative; bottom: 20px">
                    <input placeholder = " " class = "Email_input" name = "password" type = "password" autocomplete ="off">
                    <div class = "labelline" style = "max-width: 135px"  >Enter password</div>
                </div>
                <button type = "submit" style = "background-color: #bc1422; border-color: #bc1422" class = "btn btn-primary active sign">Sign In</button>
            </form>
        </div>

        <div id = "register_choice">
            <h1 style = "color: white; text-align: center;">Don't have an account?</h1>
            <a href="/register" class="btn btn-primary active sign" style="margin-top: 100px; background-color: white; border-color: white; color: #bc1422;">Sign Up!</a>

            


        </div>

        
    </div>
{% endblock %}
