{% extends "layout.html" %}

{% block title %}
    {{ info[0]['title'] }}
{% endblock %}

{% block main %}
<div class = "itemm-div">
    <img src = "static/uploads/{{info[0]['picture']}}" class = "itemm_img">
    <!------------------------------------------------Below is the description items------------------------------------------------------>
    <div class = "description-itemm">
        <h1 style = "font-weight: bold;"> {{info[0]['title']}} </h1>

        <table>
        <tr>
                <td> <h3> Location found at: </h3> </td>
                <td> <h1 style = "font-weight: bold;"> {{info[0]['location']}} </h1> </td>
        </tr>
        </table>

        <p> {{info[0]['description']}} </p>
        <hr>
        <form class = "container" style = "border-radius: 20px; border: 1px solid #ccc;">
            <table class = "table table-dark table-striped table-hover" style = "border-radius: 20px">
                    {%if info[0]["question3"] or info[0]["question1"] or info[0]["question2"]%}
                    <tr>
                        <td colspan="2" class="text-center">
                            <h1>Questions</h1>
                        </td>
                    </tr>
                    {%endif%}
                    {%if info[0]["question1"] %}
                    <tr>
                        <td> <h3>{{info[0]["question1"]}}</h3> </td>
                        <td> <input name = Q1></input> </td>
                    </tr>
                    {%endif%}

                    {%if info[0]["question2"] %}
                    <tr>
                        <td> <h3>{{info[0]["question2"]}}</h3> </td>
                        <td> <input name = Q2></input> </td>
                    </tr>
                    {%endif%}

                    {%if info[0]["question3"] %}
                    <tr>
                        <td> <h3>{{info[0]["question3"]}}</h3> </td>
                        <td> <input name = Q3></input> </td>
                    </tr>
                    {%endif%}
                    {%if info[0]["question3"] or info[0]["question1"] or info[0]["question2"]%}
                    <tr>
                        <td colspan="2" class="text-center">
                            <button class="btn btn-outline-secondary" type="submit" style = "color: white; font-size: 22px; width: 200px">Submit</button>
                        </td>
                    </tr>
                    {%endif%}

        </table>
        </form>
    </div>
</div>


{% endblock %}
